@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat&display=swap');

* {
    margin-right: none;
}

section {
    /* width: 100% !important; */
}

body {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    /* overflow-x:hidden; */
}

.shadow {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.show {
    display: block;
}

nav {
    background-image: url("../images/defaults/nav-background.jpg");
    /* width: 100vw; */

}

.white {
    background-color: rgba(255, 255, 255, 0.1);
}

.flex {
    display: flex;
    justify-content: space-around;
}

.animate {
    background-color: rgba(73, 73, 73, 0.5);
}

.animate h4 {
    background-color: rgb(78 46 123);
    color: gold;
    padding: 2px;
    margin: 10px;
}

.animate span {
    margin: 0px;
    color: #fff;
}

/* div {
    border: 2px solid red;
} */

.i-links {
    height: 30px;
    text-align: center;
}

.ilink {
    width: 30%;
    color: white;
}

.logo img {
    height: 50px;
}

.main-nav {
    height: 12vh;
    background-color: rgba(78, 46, 123, 0.1);
    margin-block: auto;

}

.nav-items {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    height: 100%;
}

a {
    text-decoration: none;
    color: white;
    padding: 5px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

#myDropdown {
    width: 90%;
}

#toggleButton {
    display: none;
}

#toggleButton {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: white;
}


#toggleButton:hover {
    opacity: 0.8;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

.hero {
    /* width: 100vw; */
    background-image: url("../images/defaults/preenature-4.jpg");
    height: 100vh;
    background-size: cover;
    --blur: 0;
    filter: blur(0);
    /* Initial blur value */
}




li {
    list-style-type: none;
    width: 15% !important;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.donate {
    background-color: rgb(78 46 123);
    padding: 5px;
    margin-right: 10px;
    border-radius: 15px;
}

.donate a,
h1 {
    color: gold;
}

/* swiper-container {
    width: 100%;
    height: 100%;
}

swiper-slide {
    text-align: center;
    font-size: 18px;
    background: trans;
    display: flex;
    justify-content: center;
    align-items: center;
}

swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

.hero-text {
    text-align: center;
    text-shadow: 2px 2px 8px #4e2e7b;
}

.hero-text h1 {
    font-size: 6rem;
    font-family: 'Great Vibes', cursive;
}

.hero-text {
    color: #fff;
    font-size: 2rem;
    margin-top: 0px;
}

.stats {
    display: flex;
    /* width: 100vw; */
    /* height:50vh; */
    background-image: url("../images/defaults/premature5.jpg");
}

.istat {
    width: 40%;
    /* height:50%; */
    background-color: rgba(78, 46, 123, 0.85);
    text-align: center;

}

.istat h2 {
    font-size: 2.4rem;
    color: gold;
    padding: 5%;
}

.istat span {
    /* font-size:2rem; */
    color: #fff;
}

.pnumbers {
    margin: 5%;
}

.numbers {
    color: #fff;
}

.numbers h3 {
    font-size: 5rem;
}

.mstat {
    width: 20%;
    margin-top: -20px;
    margin-bottom: -20px;
    background-color: rgba(255, 215, 0, 0.9);
    text-align: center;
    color: #4e2e7b;
    font-size: 1.5rem;
}

.mstat h3 {
    font-size: 2rem;
}

.intro {
    background-image: url("../images/defaults/nicu-baby.jpg");
    /* height: 100vh; */
    background-size: cover;
    margin-block: 20px;
    color: #4e2e7b;
}

.is-intro {
    /* width: 100%; */
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9)
}

.intro-image {
    width: 40%;
    padding: 5%;
}

.intro img {
    width: 100%;
}

.intro-text {
    width: 60%;
    padding: 5%;
}

.intro-text h2 {
    font-size: 2rem;
}

.intro-text span {
    color: gold;
    text-shadow: 1px 2px #4e2e7b
}

.half {
    width: 50%;
}

.founder-image {
    background-image: url("../images/gallery/founder.jpg");
    border-radius: 50%;
    background-size: cover;
    width: 100px;
    height: 100px;
}

.mdonate {
    /* width: 100vw; */
    /* height: 100vh; */
    /* background-color: beige; */
    margin-block: 10px;
}

.idonate {
    width: 90%;
    padding: 5%;
    /* background-color: aqua; */
}

.donate-item {
    width: 33%;
    height: 100%;
    /* background-color: red; */
    /* padding: 5%; */
    margin: 10px;
}

.donate-item span {
    font-size: small;
    margin: 0px;
}

.image-div img,
.image-div {
    width: 100%
}

.image-div {
    height: 200px;
    overflow: hidden;
}

.donate-item p,
.donate-item h4,
.donate-item span {
    margin: 1% 5%;
}

.donate-item h4 {
    font-size: 1.5rem;
}

.is-donate {
    background-color: #4e2e7b;
    float: right;
    margin-top: -12px;
    z-index: 20;
    position: relative;
    border-style: none;
    padding: 5px;
    margin-right: 5px;
}

.mis-donate {
    background-color: gold;
    float: right;
    margin-top: -12px;
    z-index: 20;
    position: relative;
    border-style: none;
    padding: 5px;
    margin-right: 5px;
}

.mis-donate a {
    color: #4e2e7b;
}

.progress-bar {
    width: 100%;
    padding: 5px;
}

.progress-bar span {
    margin-top: -55px;
}

.read-more {
    background-color: #fff;
    /* color: gold; */
}

.read-more a {
    /* color:gold; */
    background-color: #4e2e7b;
    margin-block: 15px;
    padding: 10px 20px;
    border-radius: 10px;
}

.mread-more a {
    color: #4e2e7b;
    background-color: gold;
    margin-block: 15px;
    padding: 10px 20px;
    border-radius: 10px;
}

.monthly {
    /* width: 100%; */
    /* height: 100vh; */
    background-image: url('../images/gallery/nicu-setup.jpg');
    background-size: cover;
    padding:5%;
}

.mmonthly {
    /* margin: 5%; */
}

.fmonthly {
    width: 40%;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 2%;
    margin-right: 10%;
}

.fmonthly h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-block: 15px;
    color: black;

}
#fcenter{
    font-size:0.8rem;
    text-align:center;
    margin:0 auto;
}
.tmonthly {
    width: 55%;
    float: right;
    color: #fff;
}

.tmonthly h1 {
    font-size: 3rem;
    color: #fff;
}

.tm {
    width: 90%;
    margin: 0 auto;
    margin-block: 10px;
    padding: 10px;
}

.tm-text h2 {
    margin: 0px;
}

.tm-text span {
    text-align: center;
    margin: auto 0;
    background-color: gold;
    color: #4e2e7b;
    border-radius: 10px;
    padding: 5px 10px;
}

.payment-options {
    width: 80%;
    margin: 0 auto;
}

.fab {
    margin: 10%;
    font-size: 2rem;
}

.bg {
    background: rgb(255, 215, 0);
    background: linear-gradient(162deg, rgba(255, 215, 0, 1) 0%, rgba(78, 46, 123, 0.9164040616246498) 63%);
}

#container {
    text-align: center;
    margin-block: 10px;
    
}
.red{
    border:2px solid red;
}
#inputField {
    width: 80%;
    padding: 10px;
    border:none;
    text-align:center;
    font-size:1.5rem;
    color:#4e2e7b;
}

.amountButton {
    padding: 5px 10px;
    margin: 5px;
    font-size: 16px;
    background-color:#4e2e7b;
    border:none;
    color:#fff;
    font-size:1.2rem;
    margin-block:10px;
}
.tm-image{
    width: 250px;
    height:100px;
    /* background-image: url("../images/gallery/is-ashanti-region.jpg"); */
    background-size: cover;
    /* border:5px solid salmon; */
    padding: 5px;
}
.tm-image img{
    width:100%;
    height: 100%;
}
.logo-holder{
    width:150px;
    height:150px;
    margin-block:20px;
}
.logo-holder img{
    width: 100%;
}
.volunteers{
    width: 80%;
    margin:0 auto;
    margin-block:50px;
}
.vol-item{
    margin:auto 0;
    border: 2px solid gold;
    width:30%;
}
.vol-head h1{
    font-size:3.2rem;
    color:black;
}
.is-volunteers{
    background-image: url("../images/gallery/premature-child.jpg"); 
    background-size: cover;
    margin-block:30px;
    height:80vh;
    
}
.vol-profile{
    /* width: 30% */
    border:2px solid red;
    margin-block:10px;
    margin:10px;
}
.profile-image{
    width:100px;
    height:150px;
}
.profile-image img{
    width:100%;
}
.profile-text,
.vol-service{
    color:#fff;
}
.main-vol{
    height: 100%;
    /* border:2px solid snow; */
}
.main-vol img{
    height: 100%;
}
.m-vol{
    height:80%;
}
.text-center{
    text-align: center;
}